::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(241, 245, 168, 0.1);
}

::-webkit-scrollbar-track {
  background-color: rgba(241, 245, 168, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: #b2b377;
}
